:root {
    --primary-color: #000;
    --gap: 1.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sigmar', cursive;
}

body{
    margin: 0;
    overflow-x: hidden;
    color: var(--primary-color);
}

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.hidden {
    display: none;
}

.content {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* NAVBAR */
.logo {
    width: 80px;
    margin: 2rem;  
    border-radius: 50%;  
}

.primary-header {
    height: 6rem;
    padding: 0 20px;
    margin:0;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999999;
}

.primary-navigation a {
    text-transform: uppercase;
    text-decoration: none;    
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    transition: border-bottom 0.2s ease-in-out;
}

.primary-navigation a:hover {
    border-bottom: 2px #fff solid;
    letter-spacing: 0.15rem;
}

.nav-profile-img {
    width: 50px;
    border-radius: 50%;
}

.sub-profile-wrap {
    display: none;
    position: absolute;
    top: 80%;
    right: 10%;
    width: 250px;
    background-color: #000000ba; 
    z-index: 999999;
    transition: display 0.5s;
}

.sub-profile {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
}

.sub-profile-wrap[data-visible="true"] {
    display: block;
}

.search-box {
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding-block: 0.5rem;
    width: 10rem;
}

@media (max-width: 35em){
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        background: hsla(0, 0%, 0%, 0.65);
        transform: translateX(100%);
        transition: transform 450ms ease-in-out;
        z-index: 9998;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url("/static/images/icon-hamburger.jpg");
        background-size: cover;
        border-radius: 50%;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[area-expanded="true"] {
        background-image: url("/static/images/download.jpg");
        background-size: cover;
        border-radius: 50%;
        z-index: 9999;
    }

    .sub-profile-wrap {
        top: 48%;
        background-color: #000;
    }
}

@media (min-width: 35em){
    .primary-navigation {
        padding-right: 2rem;
    }

    .primary-header {
        background: hsla(0, 0%, 0%, 0.45);
    }

    /* incase backdrop-filter is not supported */
    @supports (backdrop-filter: blur(0.5rem)) {
        .primary-header {
            backdrop-filter: blur(0.5rem);
        }
    }
}


/* LOADER */
.preload {
    margin-top: 200px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;  
}

.preload h1 {
    color: darkgreen;
    bottom: 200px;
}

.tree-line {
    position: absolute;
    height: 350px;
    width: 100%;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/static/images/tree-line.jpg');
    z-index: -1;
}

.cloud1,
.cloud2,
.cloud3, 
.cloud4 {
    height: 40%;
    position: absolute;
    right: 0%;
}

.cloud1{
    top: 20%;
    transform: translate(100%, -20%);
    animation: cloud 6s ease infinite 2s;
}

.cloud2 {
    top: 30%;
    transform: translate(100%, -30%);
    animation: cloud 6s ease infinite 1s;
}
.cloud3 {
    top: 45%;
    transform: translate(100%, -45%);
    animation: cloud 6s ease infinite 4s;
}
.cloud4 {
    top: 40%;
    transform: translate(100%, -45%);
    animation: cloud 6s ease infinite;
}

@keyframes cloud {
from {
    /* transform: translateY(0px); */
    right: 0%;
}
to {
    /* transform: translateY(25px); */
    right: 130%;
}}


/* HOMEPAGE */
.homepage-links {
    padding: 1rem;
    position: absolute;
    bottom: 5%;
    flex-direction: column;
    left: 0;
    z-index: 2;
}

.homepage-links ul li {
    padding-top: 2rem;
}

.homepage-links ul li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: border-bottom 0.2s ease-in-out;
}

.homepage-links ul li a:hover {
    border-bottom: 2px #fff solid;
    letter-spacing: 0.15rem;
}

.home {  
    position: relative;
    color:#fff;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5rem;
    padding: 8rem 5% 0;
}

.home-text{
    line-height: 1.2rem;
    text-align: right;
}

.home-text p{
    padding-top: 1.5rem;
    font-size: 1.2rem;
}

.home-btn {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.home-btn:hover {
    color: yellowgreen;
}

.info-background {
    background: url(/static/images/3F35A60A-CF25-C56F-8A763640188964C2.jpg);    
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    box-shadow: 0px 0px 25px 5px #000;
}

/* homepage-info cards */

.info-data {
    position: relative;
    height: 100vh;
    padding: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

/*  img url: https://www.tripsavvy.com/thmb/ElEujg8Cy47sEFdMo3L4g6UtvIU=/2119x1414/filters:fill(auto,1)/GettyImages-1028306644-a9247492b0184063a9b50125a4213727.jpg  */

.info-data .left {
    width: 50%;
    height: 750px;
    background-image: url(/static/images/info-card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    box-shadow: 0px 0px 25px 5px #000;
}

.info-data .right {
    width: 50%;
    min-height: 500px;
    max-width: 1000px;
    background: hsla(0, 0%, 0%, 0.7);
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 15%;
    margin-left: -150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.info-data .right:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
    transform: rotateX(10deg) rotateY(-10deg);
}

.info-data .right .content {
    flex-direction: column;
    justify-content: center;
}

.info-data .right p{
    line-height: 1.5rem;
}

@media (max-width: 900px) {
    .info-data {
        flex-direction: column;
        height: auto;
    }

    .info-data .left{
        margin: 0;
        height: 25rem;
        width: 100%;
    }

    .info-data .right {
        margin: 0;
        width: 100%;
        margin-top: -100px;
        display: block;
    }
    
    .info-data .right h1 {
        font-size: 25px;
    }

    .info-data .right p {
        font-size: 15px;
    }

}

/* homepage-center card */

.center-data {
    position: relative;
    height: 100vh;
    padding: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.center-data .left {
    width: 50%;
    min-height: 450px;
    background: hsla(0, 0%, 0%, 0.7);
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 15%;
    margin-right: -150px;
    z-index: 2;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.center-data .left:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
    transform: rotateX(10deg) rotateY(-10deg);
}


.center-data .left .content {
    flex-direction: column;
    justify-content: center;
}

.center-data .left p {
    line-height: 1.5rem;

}

.center-data .left a{
    color: yellowgreen;
    text-decoration: none;
    font-size: 1.3rem;
    transition: letter-spacing 0.2s ease-in-out;
}
.center-data .left a:hover {
    letter-spacing: 0.15rem;
}

.center-data .right {
    width: 50%;
    height: 750px;
    background-image: url(/static/images/20221027_151412.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    box-shadow: 0px 0px 25px 5px #000;
    z-index: 1;
}

@media (max-width: 900px) {
    .center-data {
        flex-direction: column-reverse;
        height: auto;
    }
    
    .center-data .left {
        padding: 10px;
        margin: 0;
        width: 100%;
        margin-top: -100px;
    }

    .center-data .left h1 {
        font-size: 25px;
    }
    
    .center-data .left p {
        font-size: 15px;
    }
    .center-data .right {
        margin: 0;
        height: 25rem;
        width: 100%;
    }
}

/* homepage-alert cards */

.alert-data {
    position: relative;
    height: 100vh;
    padding: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

/* img url:https://www.tripsavvy.com/acadia-national-park-top-attractions-3361609 */
.alert-data .left {
    width: 50%;
    height: 750px;
    background-image: url(/static/images/AcadiaNationalParkMaine-0d82794c812449c1ba514f4642f8aea2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    box-shadow: 0px 0px 25px 5px #000;
}

.alert-data .right {
    width: 50%;
    min-height: 500px;
    max-width: 1000px;
    background: hsla(0, 0%, 0%, 0.7);
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 15%;
    margin-left: -150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.alert-data .right:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
    transform: rotateX(10deg) rotateY(-10deg);
}

.alert-data .right .content {
    flex-direction: column;
    justify-content: center;
}

.alert-data .right p{
    line-height: 1.5rem;
}

.alert-data .right a{
    color: rgb(180, 57, 57);
    text-decoration: none;
    font-size: 1.3rem;
    transition: letter-spacing 0.2s ease-in-out;
}

.alert-data .right a:hover {
    letter-spacing: 0.15rem;
}

@media (max-width: 900px) {
    .alert-data {
        flex-direction: column;
        height: auto;
    }

    .alert-data .left{
        margin: 0;
        height: 25rem;
        width: 100%;
    }

    .alert-data .right {
        padding: 10px;
        margin: 0;
        width: 100%;
        margin-top: -100px;
    }
    
    .alert-data .right h1 {
        font-size: 25px;
    }

    .alert-data .right p {
        font-size: 15px;
    }
}

/* PROFILE VIEWS */
.user-profile {
    margin-top: 5%;
}

.user-profile a {
    text-decoration: none;
    color: #000;
}

.profile-image {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    display: block;
}

@media (max-width: 35em) {
    .profile-image {
        display: none;
    }

    .activities-list{
        font-size: 4rem;
    }

    .places-list{
        font-size: 4rem;
    }

    .event-lsit{
        font-size: 4rem;
    }
}

.profile-tab {
    box-sizing: border-box;
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}
.tabs {
    border-bottom: 2px solid darkgreen;;
}

.tabs a:hover{
    border: 4px solid darkgreen;
}

.active {
    background-color: darkgreen;
    border: 4px solid yellowgreen;
}


/* ACTIVITIES-PLACES-EVENTS */
.list-image {
    width: 500px;
    height: auto;
    border-radius: 2%;
    box-shadow: 0px 0px 10px 2px #000;
}

.list-title a{
    text-decoration: none;
    font-size: 2rem;
    color: darkgreen;
    transition: color 0.2s ease-in-out;
}

.list-title a:hover {
    color: yellowgreen;
}

.event-list {
    font-size: 2rem;
    color: darkgreen
}

.user-icons {
    display: flex;
    align-items: center;
}
  
.user-icons i {
    margin-right: 20px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
  
.user-icons i:hover {
    transform: scale(1.2);
}

.favorite {
    color: red;
}

.bookmark {
    color: gold;
}

.profile-icon {
    color: yellowgreen;
}

.profile:hover {
    color: yellowgreen;
}

.profile-fav:hover{
    color: red;
}

.profile-book:hover{
    color: gold;
}

@media (max-width: 35em) {
    .list-image {
        width: 350px;
    }

    .activities-list{
        font-size: 4rem;
    }

    .places-list{
        font-size: 4rem;
    }

    .event-lsit{
        font-size: 4rem;
    }
}

.page-not-found{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found img{
    width: 750px;
    height: auto;
    border-radius: 15%;
    box-shadow: 0px 0px 25px 5px #000;
}

