{% extends 'base.html'  %}


{% block content %}

<div class="side-links">
    <div class="homepage-links flex">
        <ul>            
            <li>
                <a href="/" id="info-nav"><i class="fa-solid fa-info"></i> Info</a>
            </li>
            <li >
                <a  href="/centers" id="center-nav"><i class="fa-solid fa-location-crosshairs"></i> Centers</a>
            </li>
            <li >
                <a href="/alerts" id="alert-nav"><i class="fa-regular fa-bell"></i> Alerts</a>
            </li>
        </ul>
    </div>
</div>
{% block homepage_content %}
{% endblock %}

{% endblock %}
