{% extends 'base.html'  %}


{% block content %}

<div class="container visitor-center">
    <h1  class="display-1">Visitor Centers</h1>
    <ul class="list-group list-group-flush centers-list">
        {% for center in centers %}
        <li class="list-group-item">
            <h2 class="text-info">{{ center["name"] }}</h2>
            <p>Direction: {{ center["directionsInfo"] }}</p>
            <p>Operation: {{ center["operatingHours"][0]["description"] }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
                    
{% endblock %}
