{% extends 'base.html'  %}


{% block content %}
<div class="container">
    <h1 class="display-1">Activities</h1>
    <ul class="list-group list-group-flush m-2" id="activity-list">
        {% for activity in activities %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <a href="/activities/{{ activity['id']}}">
                        <img src="{{ activity['images'][0]['crops'][0]['url']  }}" alt="{{ activity['images'][0]['caption']  }}" class="img-fluid">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7">
                    <h2  class="text-info"><a href="/activities/{{ activity['id']}}">{{ activity["title"] }}</a></h2>
                    <p>{{ activity["shortDescription"] }}</p>
                    {% if g.user %}
                    <div class="row justify-content-start"> 
                        <i class="fa-solid fa-heart {% if activity['id'] in activity_ids_fav %} favorite {% endif %}" id="activity-fav" data-id="{{ activity['id'] }}" data-title='{{ activity["title"] }}' data-image-url="{{ activity['images'][0]['crops'][0]['url'] }}" data-description='{{ activity["shortDescription"] }}'></i>
                        <i class="fa-solid fa-bookmark {% if activity['id'] in activity_ids_mark %} bookmark {% endif %}" id="activity-mark" data-id="{{ activity['id']}}" data-title='{{ activity["title"] }}' data-image-url="{{ activity['images'][0]['crops'][0]['url'] }}" data-description='{{ activity["shortDescription"] }}'></i>                      
                    </div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}