{% extends 'base.html'  %}

{% block content %}
<div class="container">
    <div class="row user-profile">
        <div class="col-sm-4 mt-5">
            <ul>
                <li>
                    <a href="/users/{{ user.id }}" class="profile"><i class="fa-solid fa-user profile-icon"></i> Profile</a>
                </li>
                <li>
                    <a href="/users/{{ user.id }}/favorites" class="profile-fav"><i class="fa-solid fa-heart favorite"></i> Favorites</a>
                </li>
                <li>
                    <a href="/users/{{ user.id }}/bookmarks" class="profile-book"><i class="fa-solid fa-bookmark bookmark"></i> Bookmarks</a>
                </li>
                {% if g.user.id == user.id %}
                <li>
                    <form class="navbar-form navbar-right" action="/search">
                        <input name="q" class="form-control" placeholder="Search Favorites/Bookmarks" id="search">
                        <button class="btn btn-default">
                            <span class="fa fa-search"></span>
                        </button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-xs-4 col-md-8 mt-5">
            {% block user_details %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}