{% extends 'users/favorites.html' %}

{% block fav_content %}

<ul class="list-group list-group-flush m-2">
    {% for event in events %}
    <li class="list-group-item">
        <h2>{{ event["title"] }}</h2>        
        <p>{{ event["description"] }}</p>
         
        {% if g.user %}
        <div class="row justify-content-start">
            <i class="fa-solid fa-heart {% if event['id'] in event_ids_fav %} favorite {% endif %}" id="event-fav" data-id="{{ event['id']}}" data-title='{{ event["title"] }}' data-description='{{ event["description"] }}'></i>
            <i class="fa-solid fa-bookmark {% if event['id'] in event_ids_mark %} bookmark {% endif %}" id="event-mark" data-id="{{ event['id']}}" data-title='{{ event["title"] }}'  data-description='{{ event["description"] }}'></i>                  
        </div>
        {% endif %}               
    </li>
    {% endfor %}
</ul>

{% endblock %}
