{% extends 'base.html'  %}


{% block content %}
<div class="container">
    <h1 class="display-1 events-list">Events</h1>
    {{ pagination.info }}
    <ul class="list-group list-group-flush m-2">
        {% for event in events %}
        <li class="list-group-item">
            <h2 class="event-list">{{ event["title"] }}</h2>        
            <h3>By {{ event["contactname"] }}</h3>
            <p>{{ event["description"] | safe }}</p>
            <p>{{ event["regresinfo"] }}</p>  
            <p>
                {% for hastag in event["types"] %}
                <span>#{{ hastag }}</span>
                {% endfor %}
            </p>  
            {% if g.user %}
            <div class="row justify-content-start user-icons">
                <i class="fa-solid fa-heart {% if event['id'] in event_ids_fav %} favorite {% endif %}" id="event-fav" data-id="{{ event['id']}}" data-title='{{ event["title"] }}' data-description='{{ event["description"] }}'></i>
                <i class="fa-solid fa-bookmark {% if event['id'] in event_ids_mark %} bookmark {% endif %}" id="event-mark" data-id="{{ event['id']}}" data-title='{{ event["title"] }}'  data-description='{{ event["description"] }}'></i>                  
            </div>
            {% endif %}               
        </li>
        {% endfor %}
    </ul>
    {{ pagination.links }}
</div>

{% endblock %}